<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 200px">
    <mat-nav-list>
      <a mat-list-item routerLink="/shop" (click)="sidenav.toggle()"
         fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>home</mat-icon>
        <span fxFlex>Bio bolt</span>
      </a>
      <a mat-list-item routerLink="/login" *ngIf="!loggedIn" (click)="sidenav.toggle()"
         fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>account_circle</mat-icon>
        <span fxFlex>Bejelnetkezés</span>
      </a>
      <a mat-list-item routerLink="/profile" *ngIf="loggedIn" (click)="sidenav.toggle()"
        fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon style="color: limegreen;">account_circle</mat-icon>
        <span fxFlex>Profil</span>
      </a>
      <a mat-list-item routerLink="/checkout" *ngIf="loggedIn" (click)="sidenav.toggle()"
         fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>shopping_cart</mat-icon>
        <span fxFlex>Kosár</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="margin-bottom: 70px">
      <header-component [sidenav]="sidenav"></header-component>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
